.Products__Wrapper {
  padding: 0 15%;
  max-height: 600px;
  gap: 8px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: 
  "PWC PCI";
  animation-name: ProductsEntrance;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  overflow: visible;
}

@keyframes ProductsEntrance {
  0% {opacity: 0; transform: scale(1.1);}
  100% {opacity: 1; transform: scale(1);}
}

.Products__Wrapper__Description {
  max-height: 600px;
  grid-area: PWC;
  background: #ffffff12;
  border-radius: 1rem;
  padding: 5% 5%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.Products__Wrapper__Description__Title {
  color: pink;
  font-weight: 600;
}

.Products__Wrapper__Description__Lists {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Products__Wrapper__Description__List__Item {
  font-weight: 200;
  font-size: 1.8rem;
}

.Products__Wrapper__Description__List__Item > span {
  font-weight: 800;
  color: pink;
}
