ul > li {
  list-style-type: none;
}

.navbar {
  width: 	100%;
  height: 100%;
}
.navbar__wrapper {
  padding: 2% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.navbar__wrapper__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation-name: logoNavEntrance;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.navbar__wrapper__logo img{
  filter: invert(1);
  height: auto;
  width: 44px;
  transition: all 0.5s linear;
}
.navbar__wrapper__logo img:hover{
  transform: scale(1.1);
}
.navbar__wrapper__ul {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
}

.navbar__wrapper__ul__li {
  border-radius: 2rem;
  padding: 8px 16px;
  color: white;
  transition: all 0.3s linear;
  cursor: pointer;
  animation-name: buttonsEntrance;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.navbar__wrapper__ul__li:hover {
  background-color: #f8f8f8;
  color: #000;
}

@keyframes buttonsEntrance {
  0% {opacity: 0; margin: 0 32px;}
  100% {opacity: 1; margin-top: 0;}
}
@keyframes logoNavEntrance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}