.Gallery__Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2% 15%;
  gap: 3rem;
}

.Gallery__Wrapper__BigCard {
  width: 50%;
  max-width: 800px;
  height: 800px;
  max-height: 800px;
  flex-shrink: 0;
  animation: fadeInEntrance;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.Gallery__Wrapper__BigCard__Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.Gallery__Wrapper__Card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.Gallery__Wrapper__Card__Image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.Gallery__Wrapper__Card__Item {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

@keyframes fadeInEntrance{
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1;
  }
}
