.Products__Wrapper__Slider {
  width: 600px;
  height: 600px;
}

.Products__Images {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.Products__Wrapper__Slider__Buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Products__Wrapper__Slider__Buttons button {
  padding: 2% 0;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}